<div class="row">
  <div class="col-md-12" *ngIf="user$ | async; let user">
    <div class="d-flex flex-column align-items-center">
      <img
        class="img-fluid rounded-top w-25"
        src="https://previews.123rf.com/images/panyamail/panyamail1809/panyamail180900343/109879063-user-avatar-icon-sign-profile-symbol.jpg"
        alt="avatar">
      <small>{{ user.username }}</small>
      <h3>{{ user.firstName }} {{ user.lastName }}</h3>
      <small>{{ user.email }}</small>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nav class="nav nav-tabs nav-stacked">
      <a class="nav-link" [routerLink]="['/', 'profile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Shelves</a>
      <a class="nav-link" [routerLink]="['/', 'profile', 'orders']" routerLinkActive="active">Orders</a>
      <a class="nav-link" [routerLink]="['/', 'profile', 'community']" routerLinkActive="active">Community</a>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
