<form [formGroup]="registerForm" (submit)="handleSubmitEvent()">
  <h3 class="mb-3">Sign up</h3>

  <div class="form-group"
       [ngClass]="{'form-group-error': registerForm.get('username').touched && registerForm.get('username').hasError('required')}">
    <label for="username">Username <bs-required-mark></bs-required-mark></label>
    <input type="text" class="form-control" name="username" id="username" formControlName="username">
    <small class="form-text text-danger"
           *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('required')">
      Please enter a username
    </small>
  </div>

  <div class="form-group"
       [ngClass]="{'form-group-error': registerForm.get('email').touched && registerForm.get('email').invalid}">
    <label for="email">Email <bs-required-mark></bs-required-mark></label>
    <input type="text" class="form-control" name="email" id="email" formControlName="email">
    <small class="form-text text-danger"
           *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
      Please enter an email
    </small>

    <small class="form-text text-danger"
           *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('email')">
      Please enter a valid email
    </small>
  </div>

  <div class="form-group"
       [ngClass]="{'form-group-error': registerForm.get('password').touched && registerForm.get('password').invalid}">
    <label for="password">Password <bs-required-mark></bs-required-mark></label>
    <input type="password" class="form-control" name="password" id="password" formControlName="password">
    <small class="form-text text-danger"
           *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')">
      Please enter a password
    </small>
  </div>

  <div class="form-group" [ngClass]="{'form-group-error': registerForm.get('passwordConfirmation').touched && registerForm.get('passwordConfirmation').invalid}">
    <label for="password-confirmation">Confirm password <bs-required-mark></bs-required-mark></label>
    <input type="password" class="form-control" name="password-confirmation" id="password-confirmation"
           formControlName="passwordConfirmation">
    <small class="form-text text-danger"
           *ngIf="registerForm.get('passwordConfirmation').touched && registerForm.get('passwordConfirmation').hasError('required')">
      Please confirm your password
    </small>

    <small class="form-text text-danger"
           *ngIf="registerForm.get('passwordConfirmation').touched && registerForm.get('passwordConfirmation').hasError('confirmation')">
      Password does not match
    </small>
  </div>

  <button class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
</form>
