<section>
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid rounded-top"
           src="https://www.swiatksiazki.pl/media/catalog/product/cache/8341676ea16fe34e5fb7c8c54bdeb245/1/5/1599906685215.jpg"
           alt="Book">
    </div>
    <div class="col-md-8">
      <h3>{{ book.title }}</h3>

      <table class="table">
        <tbody>
        <tr>
          <td class="font-weight-bold border-0">Author</td>
          <td class="border-0">{{ book.author}}</td>
        </tr>
        <tr>
          <td class="font-weight-bold border-0">ISBN</td>
          <td class="border-0">{{ book.isbn }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold border-0">Category</td>
          <td class="border-0">{{ book.category }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold border-0">Published By</td>
          <td class="border-0">{{ book.publishedBy }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold border-0">In stock</td>
          <td class="border-0">{{ book.quantity }}</td>
        </tr>
        <tr>
          <td class="border-0 font-weight-bold">Price</td>
          <td class="border-0 font-weight-bold text-danger">
            {{ book.price | number }} $
          </td>
        </tr>
        <tr *bsAuthenticated="true">
          <td class="border-0" colspan="2">
            <star-rating [value]="3.5" [totalstars]="5" [checkedcolor]="'gold'" [uncheckedcolor]="'lightgray'"
                         size="30px" [readonly]="false" (rate)="handleRateClick()"></star-rating>
          </td>
        </tr>
        </tbody>
      </table>

      <p>
        {{ book.description }}
      </p>
      <form [formGroup]="shelfForm" (ngSubmit)="handleShelfFormSubmit()" *bsAuthenticated="true">
        <div class="d-flex flex-row">
          <div class="input-group w-50">
            <select aria-label="shelf" class="custom-select" formControlName="shelfId">
              <option [value]="''">Shelves...</option>
              <option *ngFor="let shelf of (shelves$ | async)" [value]="shelf.id">{{ shelf.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-info" type="submit" [disabled]="shelfForm.invalid">Add to shelf</button>
            </div>
          </div>

          <button type="button" class="btn btn-success ml-3" (click)="handleAddToCartClick()"
                  [disabled]="0 === book.quantity">Add to cart
          </button>
        </div>
      </form>


    </div>
  </div>
</section>
<section class="mt-3">
  <div class="row">
    <div class="col-md-12">
      <h3>Reviews</h3>

      <form *bsAuthenticated="true" [formGroup]="reviewForm" (ngSubmit)="handleReviewFormSubmit()">
        <div class="form-group">
          <label for="review-content">Your review</label>
          <textarea class="form-control" id="review-content" rows="5" formControlName="content"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="reviewForm.invalid">Add review</button>
      </form>

      <bs-loader *ngIf="reviewsLoading"></bs-loader>

      <ng-container *ngIf="!reviewsLoading">
        <bs-single-review *ngFor="let review of reviews" [review]="review"
                          (reviewChange)="handleReviewChange()"></bs-single-review>
      </ng-container>
    </div>
  </div>
</section>
