<section>
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid rounded-top"
           src="https://www.swiatksiazki.pl/media/catalog/product/cache/8341676ea16fe34e5fb7c8c54bdeb245/1/5/1599906685215.jpg"
           alt="Book">
    </div>
    <div class="col-md-8">
      <h3>{{ book.title }}</h3>

      <table class="table ">
        <tbody>
        <tr>
          <td class="font-weight-bold border-0">Author</td>
          <td class="border-0">{{ book.author}}</td>
        </tr>
        <tr>
          <td class="font-weight-bold border-0">ISBN</td>
          <td class="border-0">{{ book.isbn }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold border-0">Category</td>
          <td class="border-0">{{ book.category }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold border-0">Published By</td>
          <td class="border-0">{{ book.publishedBy }}</td>
        </tr>
        <tr>
          <td class="border-0 font-weight-bold">Price</td>
          <td class="border-0 font-weight-bold text-danger">
            {{ book.price | number }} $
          </td>
        </tr>
        <tr *bsAuthenticated="true">
          <td class="border-0" colspan="2">
            <star-rating [value]="3.5" [totalstars]="5" [checkedcolor]="'gold'" [uncheckedcolor]="'lightgray'" size="30px" [readonly]="false" (rate)="handleRateClick()"></star-rating>
          </td>
        </tr>
        </tbody>
      </table>

      <p>
        {{ book.description }}
      </p>

      <div class="d-flex flex-row" *bsAuthenticated="true">
        <div class="input-group w-50">
          <select class="custom-select" id="inputGroupSelect04">
            <option selected>Shelves...</option>
            <option value="1">Favourites</option>
            <option value="2">Likes</option>
            <option value="3">To read</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-info" type="button">Add to shelf</button>
          </div>
        </div>

        <button type="button" class="btn btn-success ml-3" (click)="handleAddToCartClick()">Add to cart</button>
      </div>

    </div>
  </div>
</section>
<section class="mt-3">
  <div class="row">
    <div class="col-md-12">
      <h3>Reviews</h3>

      <form *bsAuthenticated="true">
        <div class="form-group">
          <label for="review-content">Your review</label>
          <textarea class="form-control" id="review-content" rows="5"></textarea>
        </div>

        <button type="button" class="btn btn-primary">Add review</button>
      </form>

      <ng-container *ngFor="let review of reviews">
        <div class="card mt-3">
          <div class="card-body">
            <div>
              <div>
                <h5 class="card-title m-0">{{ review.author }}</h5>
                <small>{{ review.createdAt }}</small>
              </div>

              <div class="mt-2 mb-2">
                <strong>
                  {{ review.likes }}
                </strong>
                <a href="#" class="text-info">
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <p class="card-text pt-2 pb-2">{{ review.content }}</p>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</section>
