<nav class="navbar navbar-expand navbar-light">
  <div class="container">

    <a class="navbar-brand" routerLink="">Books Store</a>

    <div class="search-bar input-group">
      <input type="text" class="form-control" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>

    <div class="nav navbar-nav">
      <a *bsAuthenticated="false" class="nav-item nav-link" [routerLink]="['auth', 'login']" routerLinkActive="active">
        Zaloguj się
      </a>
      <a *bsAuthenticated="false" class="nav-item nav-link" [routerLink]="['auth', 'register']"
         routerLinkActive="active">
        Rejestracja
      </a>
      <a *bsHasRole="'ROLE_ADMINISTRATOR'" class="nav-item nav-link" [routerLink]="['dashboard']"
         routerLinkActive="active">
        Dashboard
      </a>
      <a *bsAuthenticated="true" class="nav-item nav-link logout-link" (click)="handleLogoutClick()">
        Wyloguj
      </a>
    </div>
  </div>

</nav>
