<div class="row">
  <div class="col-md-7 border p-3">
    <table class="table">
      <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Count</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="flex">
          <div>
            <img
              src="https://www.swiatksiazki.pl/media/catalog/product/cache/8700249466b3ee6242cfa222c30c22e2/1/5/1599906685215.jpg"
              alt="image">
          </div>
        </td>
        <td>31,99$</td>
        <td class="w-25">
          <div>
            <input type="text" aria-label="Count" class="form-control">
          </div>
        </td>
        <td>31,99$</td>
      </tr>

      <tr>
        <td class="flex">
          <div>
            <img
              src="https://www.swiatksiazki.pl/media/catalog/product/cache/8700249466b3ee6242cfa222c30c22e2/1/5/1599906685215.jpg"
              alt="image">
          </div>
        </td>
        <td>31,99$</td>
        <td class="w-25">
          <div>
            <input type="text" aria-label="Count" class="form-control">
          </div>
        </td>
        <td>31,99$</td>
      </tr>
      </tbody>
    </table>

    <hr>

    <div class="mt-3 btn-group">
      <a [routerLink]="['']" class="btn btn-info">Continue shopping</a>
      <button class="btn btn-danger">Clear cart</button>
      <button class="btn btn-primary">Recalculate  cart</button>
    </div>
  </div>

  <div class="col-md-4 offset-md-1 p-3 border">
    <h3>Cart summary</h3>

    <table class="table">
      <tbody>
      <tr>
        <td scope="row">Value</td>
        <td class="text-right">31,99$</td>
      </tr>
      </tbody>
    </table>

    <table class="table">
      <tbody>
      <tr>
        <td class="font-weight-bolder">Summary</td>
        <td class="text-right">31,99$</td>
      </tr>
      </tbody>
    </table>


    <button class="btn btn-primary w-100">Złóż zamówienie</button>
  </div>
</div>
