<form [formGroup]="forgotPasswordForm" (submit)="handleFormSubmit()">

  <ng-container *ngIf="!formSubmitted">
    <h3 class="mb-3">Przypomnij hasło</h3>

    <div class="form-group"
         [ngClass]="{'form-group-error': forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').invalid}">
      <label for="email">Email <bs-required-mark></bs-required-mark></label>
      <input type="text" class="form-control" name="email" id="email" formControlName="email">
      <small class="form-text text-danger"
             *ngIf="forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').hasError('required')">
        Uzupełnij email
      </small>

      <small class="form-text text-danger"
             *ngIf="forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').hasError('email')">
        Podaj poprawny email
      </small>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Wyślij</button>
  </ng-container>

  <ng-container *ngIf="formSubmitted">
    <div>
      <h3>Wysłaliśmy do Ciebie email!</h3>

      <p>Sprawdź swoją skrzynkę. Powinieneś otrzymać instrukcję do odzyskania twojego hasła.</p>

      <div>
        <a [routerLink]="'/auth/login'">
          Zaloguj się
        </a>
      </div>

    </div>
  </ng-container>
</form>
