<div>
  <div>
    <a [routerLink]="'create'"  class="btn btn-sm btn-success mb-3">Create book</a>
  </div>

  <bs-loader *ngIf="isLoading"></bs-loader>

  <div *ngIf="!isLoading">
    <table class="table">
      <thead>
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.category }}</td>
        <td>
          <div class="btn-group-sm">
            <a href="#" type="button" class="btn btn-sm btn-warning">Edit</a>
            <button type="button" class="btn btn-sm btn-danger ml-1" (click)="handleBookDeleteClick(book)">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <bs-pagination [pageable]="pageable"></bs-pagination>
  </div>

</div>
